Repository sapcc/swift: changes, and which Zuul jobs are due for each by the changed paths.
All: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Path conditions:
  swift-build-image: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-build-image-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py36: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-py38: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  swift-tox-func-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-encryption-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-domain-remap-staticweb-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-ec-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-py27: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-encryption-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-domain-remap-staticweb-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-ec-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-py37: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-func-s3api-ceph-s3tests-tempauth: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|source)/.*)$, ^test/(unit|probe)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-probetests-centos-7: unless all of: ^(api-ref|releasenotes)/.*$, ^doc/(requirements.txt|(manpages|s3api|source)/.*)$, ^test/(unit|functional)/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-dsvm-functional-ipv6: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  swift-tox-lower-constraints: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/(functional|probe)/.*$
  openstack-tox-pep8: unless all of: ^(api-ref|etc|examples|releasenotes)/.*$, ^doc/(requirements.txt|(saio|s3api|source)/.*)$
  swift-multinode-rolling-upgrade: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/probe/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  tempest-integrated-object-storage: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  tempest-ipv6-only: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$
  grenade-py3: unless all of: ^(api-ref|doc|releasenotes)/.*$, ^test/.*$, ^(.gitreview|.mailmap|AUTHORS|CHANGELOG)$

Bump golang to 1.22
  Dockerfile-sap
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Bump python patch level
  Dockerfile-sap
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Added docker image file
  Dockerfile-sap
  docker-sap/bin/rsyncd-start
  docker-sap/bin/swift-start
  docker-sap/bin/unmount-helper
  docker-sap/build.sh
  docker-sap/keystonemiddleware-no-service-catalog-header.patch
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

More detailed logging for async_pending
  swift/obj/diskfile.py
  swift/obj/server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

add async_pendings metric with container & account
  swift/obj/diskfile.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

swift-recon-cron: do not die when some drives are broken
  bin/swift-recon-cron
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

log keystone identity on level INFO
  swift/common/middleware/keystoneauth.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Basic logging for Unauthorized S3 reuests to identify caller
  swift/common/middleware/s3api/s3token.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

[swift-dispersion-report] show more info for missing replicas
  swift/cli/dispersion_report.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Fix test whcih check for async_pendings
  test/unit/obj/test_updater.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Security patch update
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Fix to support cryptograph version
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Fixing dependency
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Updated python version to 3.11
  Dockerfile-sap
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Fixed the swift version in build.sh
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

changed python 3.10 to python 3.11
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

fix for security vulnerabilities
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Jinja2 version fix
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Fix for Jinja2 version
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Added version as 2023.2
  .zuul.yaml
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Update debug_logger.py
  test/debug_logger.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

revert the changes made to debug_logger.py
  test/debug_logger.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix for unit tests
  test/unit/obj/test_updater.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix for another test failures
  test/unit/obj/test_updater.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Update test_server.py
  test/unit/proxy/test_server.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Fix for CVE-2024-6345
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

fix for CVE's
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Update Dockerfile-sap
  Dockerfile-sap
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Get Dockerfile-sap docker-sap
  Dockerfile-sap
  docker-sap/bin/rsyncd-start
  docker-sap/bin/swift-start
  docker-sap/bin/unmount-helper
  docker-sap/build.sh
  docker-sap/keystonemiddleware-no-service-catalog-header.patch
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

update test_updater.py file
  test/unit/obj/test_updater.py
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade

Update build.sh
  docker-sap/build.sh
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3

Update swift-recon-cron
  bin/swift-recon-cron
Due: swift-build-image, swift-build-image-py3, swift-tox-py27, swift-tox-py36, swift-tox-py37, swift-tox-py38, swift-tox-func-py27, swift-tox-func-encryption-py27, swift-tox-func-domain-remap-staticweb-py27, swift-tox-func-ec-py27, swift-tox-func-s3api-py27, swift-tox-func-py37, swift-tox-func-encryption-py37, swift-tox-func-domain-remap-staticweb-py37, swift-tox-func-ec-py37, swift-tox-func-s3api-py37, swift-tox-func-s3api-ceph-s3tests-tempauth, swift-probetests-centos-7, swift-dsvm-functional, swift-dsvm-functional-py3, swift-dsvm-functional-ipv6, swift-tox-lower-constraints, openstack-tox-pep8, swift-multinode-rolling-upgrade, tempest-integrated-object-storage, tempest-ipv6-only, grenade-py3
